h3 {
    color:hsl(348, 100%, 68%);
    font-size:20px;
}

button {
    width:85px;
    height:30px;
    border-radius:6px;
    margin:10px;
    cursor: pointer;
}

span {
    color:beige;  
    cursor: pointer;
}

